{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4 text-center">

            <img src="{{ profile.profile_pic.url }}"
                 class="rounded-circle mb-3"
                 width="140"
                 height="140">

            <h4 class="mb-3">{{ user.username }}</h4>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Bio</label>
                    <textarea class="form-control" name="bio">{{ profile.bio }}</textarea>
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile Picture</label>
                    <input type="file" class="form-control" name="profile_pic">
                </div>

                <button class="btn btn-primary w-100">Update Profile</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
